:root{
    --blue: #2998ff;
    --orange: #ff7730;
    --primary: var(--orange);
}
body{
    background-color: var(--primary);
}
.light{
    --primary: var(--orange);
}
.dark{
    --primary: var(--blue);
}
