:root{
    --darkgreen: #30583a;
    --mintgreen: #47b682;
    --diffgreen: #16750a;
    --lightgray: #b4b4b4;
    --primary: var(--darkgreen);
    --secondary: var(--diffgreen);
}
body{
    background-color: var(--primary);
}
#themes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.lightButton{
    --primary: var(--mintgreen);
    --secondary: var(--diffgreen);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    margin: 10px;
}
.darkButton{
    --primary: var(--darkgreen);
    --secondary: var(--lightgray);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    margin: 10px;
}

.dark{
  --primary: var(--darkgreen);
  --secondary: var(--lightgray);
}

.light{
  --primary: var(--mintgreen);
  --secondary: var(--diffgreen);
}
html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 4.2rem;
    font-family: 'Manrope', sans-serif;
}
#btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.everything{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.dawg{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.meow{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.chirp{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

@media screen and (max-width: 1180px){
    .card{
        width: 44%;
    }
}
@media screen and (max-width: 844px){
    .card{
        width: 100%;
    }
}
#container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
}

.card {
    height: 45vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    padding: 3px;
    background-color: #a3d395;
    box-shadow: 10px 10px 5px #747450;
}

.card-title {
    font-size: 2.0rem;
    text-align: center;
    transition: all .5s;
    font-family: 'Manrope', sans-serif;
}
.card-img{
    max-height: 60%;
    max-width: 100%;
  }

.card-price{
    background-color: #a3d395; 
    font-size: 1.7rem;
    margin-bottom: 30px #a3d395;
    text-align: center;
    transition: all .5s;
    font-family: 'Manrope', sans-serif;
}

.card-price:hover {
    transform: scale(0.7);
    filter:opacity(40%);
}

.title:hover {
    transform: scale(0.9);
    filter:opacity(40%);
}
